# 1 week
<FilesMatch "\.(css|js)$">
    Header set Cache-Control "max-age=604800, public"
</FilesMatch>

# 1 month
<FilesMatch "\.(jpg|jpeg|png|gif|ico)$">
    Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

# None
<FilesMatch "\.(php)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
</FilesMatch>

<IfModule mod_headers.c>
    Header set X-Content-Type-Options nosniff
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
</IfModule>
