  .right_box {
    background: #3e5672;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    color: #F1F1F2;
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .left_box {
    background: white;
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 40%;
  }
  
  .box_text {
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    margin: 40px 40px 0px 40px;
  }

  .box_text_2 {
    color: #999;
    margin: 20px 10px 0px 40px;
  }
  
  .signup_link {
    color: #44d7ee;
    font-weight: bold;
    text-decoration: none;
    margin: 20px 0px 0px;
  }

  .box_text_2, .signup_link {
    font-size: 14px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle; 
}

  .container {
    display: flex;
    justify-content: center;
    height: 320px;
    margin: 0 auto;
    width: 640px;
  }
  
  .form {
    margin: 40px;
    position: absolute;
  }
  
  label {
    color:  #c2c2c5;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .login {
    font-size: 50px;
    color: #3e5672;
    font-weight: 900;
    margin: 50px 40px 40px;
  }

  input {
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 15px;
    border: 0;
    padding-left: 10px;
    color: #f2f2f2;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
    max-width: 200px;
  }

.password_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 200px;
}

.password_icon {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #f2f2f2;
  outline: none;
  padding: 0;
  margin: 0;
}

.password_icon img {
    height: 25px;
    width: auto;
  }

  .button_input {
    background: transparent; 
    border-radius: 15px;
    border: 0;
    padding-left: 10px;
    color: #f2f2f2;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
  }
  
  .gradient-line {
    height: 2px;
    width: 90%;
    max-width: 180px;
    background-image: linear-gradient(to right, #44d7ee, #daeffc);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin: 0 10px;
  }
  
  .gradient-border {
    background: linear-gradient(to right, #44d7ee, #daeffc);
    border-radius: 15px;
    padding: 2px;
  }
  
  .gradient-border::after {
    content: '';
    display: block;
    background: white;
    border-radius: 13px;
    padding: 10px;
  }
  
  .active {
    opacity: 1;
  }
  
  #submit {
    color: #707075;
    margin-top: 40px;
    transition: color 300ms;
  }
  
  #submit:focus {
    color: #f2f2f2;
  }
  
  #submit:active {
    color: #d0d0d2;
  }
  