html {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; 
}

#mapid {
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem;

}
/**/
/**/
.base-marker {
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: block;
    position: relative;
}
.veh-marker {
    background-color: blue;
    border: 1px solid black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: block;
    position: relative;
}
.task-pend-marker {
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: block;
    position: relative;
}
.task-assigned-marker {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: block;
    position: relative;
}
.task-compl-marker {
    background-color: rgb(6, 231, 6);/* Light Green*/
    border: 1px solid black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: block;
    position: relative;
}
.new_off_req{
    background-color: #277b38;
    color: white;
    border: black solid 1px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1px;
}


/**/
/*
    
    
*/