html {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; 
}

#mapid {
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem;

}
/**/
/**/
.base-marker {
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: block;
    position: relative;
}
.veh-marker {
    background-color: blue;
    border: 1px solid black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: block;
    position: relative;
}
.task-pend-marker {
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: block;
    position: relative;
}
.task-assigned-marker {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: block;
    position: relative;
}
.task-compl-marker {
    background-color: rgb(6, 231, 6);/* Light Green*/
    border: 1px solid black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: block;
    position: relative;
}

.panel {
    position: absolute;
    top: 55px;
    left: 50px;
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.096);
    z-index: 1000;
}

.toggle-tasks-btn{
    position: absolute;
    top: 63px;
    left: 50px;
    width: auto;
    z-index: 1000;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.247);
}
.show-toggle-tasks-btn {
    background-color: #04aa6d;
    color: white;
}

.hide-toggle-tasks-btn {
    background-color: #d81111;
    color: white;
}

.new_off_req {
    background-color: #28a745 !important;
    color: white !important;
    border-color: rgba(0, 0, 0, 0.192);
    border-width: 1px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.new_off_req:hover {
    background-color: #36593b !important;
}

.cancel_btn {
    background-color: #cd310d !important;
    color: white !important;
    border-color: rgba(0, 0, 0, 0.192);
    border-width: 1px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    user-select: none;
    text-decoration: none;
    max-height: 50px;
}
.cancel_btn:hover {
    background-color: #83210b !important;
}
