.container {
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #c7c7c7;
    color: #333;
    font-size: 15px;
}
tr {
    background-color: rgba(255, 255, 255, 0.94);
    color: #333;
}
tr:nth-child(even) {
    background-color: rgba(243, 241, 241, 0.94);
}

table tr:hover {
    background-color: #75b1fc;
}
