.container {
    padding: 20px;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #000000;
    color: #ffffff;
    font-size: 15px;
}
table tr:nth-child(odd) {
    background-color: #ffffff;
}

table tr:nth-child(even) {
    background-color: #7b7575;
}

table tr:hover {
    background-color: #5da2f4;
}
